@media ( max-width: 1300px ) {
    .container {
        width: 960px;
    }
    .header {
        &__cards {
            width: 960px;
        }
        &__card {
            width: 31%;
        }
        &__time-line {
            width: 75%;
        }
    }
    .about {
        &__left {
            width: 480px;
        }
        &__cards {
            gap: 20px;
        }
    }
    .info {
        &__right {
            right: 30px;
        }
        &__left {
            width: 440px;
        }
    }
    .tracks {
        &__text {
            font-size: 20px;
            margin-right: 20px;
        }
        &__card {
            margin-right: 20px;
        }
        &__time-line {
            width: 200px;
        }
    }
    .gallery {
        gap: 10px;
    }
    .slider {
        &__footer {
            gap: 15px;
        }
        &__title, &__subtitle {
            margin-left: 0px;
            text-align: center;
        }
    }
    .slick-prev:before {
        left: -5px;
    }
    
    .slick-next:before {
        right: -5px;
    }
}

@media ( max-width: 992px ) {
    .container {
        width: 720px;
    }
    .header {
        height: 700px;
        &__cards {
            width: 720px;
        }
    }
    .nav {
        width: 100%;
        margin-bottom: 70px;
        &__links {
            display: none;
        }
        &__menu {
            display: flex;
        }
    }
    .about {
        &__right {
            width: 350px;
            height: 400px;
        }
        &__image {
            width: 80%;
            height: 85%;
        }
        &__left {
            width: 330px;
        }
        &__title {
            margin-bottom: 30px;
            .title {
                font-size: 30px;
            }
        }
        &__cards {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
        &__text {
            margin-bottom: 30px;
        }
    }
    .info {
        margin-top: 100px;
        padding: 40px;
        &__left {
            width: 370px;
        }
        &__right {
            width: 250px;
            top: 10px;
            img {
                width: 100%;
            }
        }
    }
    .tracks {
        margin-top: 100px;
        &__image {
            width: 50%;
            img {
                width: 100%;
            }
        }
        &__title {
            margin-bottom: 30px;
            .title {
                font-size: 30px;
            }
        }
        &__player {
            margin-bottom: 30px;
        }
        &__list {
            margin-bottom: 20px;
        }
        &__track {
            margin-bottom: 10px;
        }
    }
    .gallery {
        grid-auto-rows: 170px;
        &::before {
            bottom: 70px;
        }
    }
    .slider {
        padding-top: 100px;
        &__footer {
            gap: 28px;
        }
    }
    .footer {
        margin-top: 100px;
    }
}

@media ( max-width: 768px ) {
    .container {
        width: 540px;
    }
    .header {
        &__subtitle {
            font-size: 70px;
        }
        &__time-line {
            width: 65%;
        }
        &__cards {
            width: 540px;
        }
    }
    .main {
        padding-top: 250px;
    }
    .about {
        flex-direction: column-reverse;
        gap: 30px;
        &__left {
            width: 100%;
        }
        &__card {
            width: 48%;
        }
    }
    .info {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px;
        &__right {
            width: 40%;
            position: static;
        }
    }
    .tracks {
        gap: 20px;
        align-items: flex-start;
        &__name-track {
            font-size: 14px;
        }
        &__numbers {
            p {
                font-size: 14px;
            }
        }
        &__image {
            padding-top: 100px;
        }
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 20px;
        margin-top: 100px;
        &::before {
            content: '';
        }
        &__image {
            &_2 {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            &_3 {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
            &_5 {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }
            &_1 {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
            &_4 {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }
        }
    }
    .slider {
        &__footer {
            flex-direction: column;
            margin-left: 0px;
        }
        &__button {
            width: 100%;
        }
        &__title, &__subtitle {
            margin-left: 0px;
            text-align: center;
        }
    }
}

@media ( max-width: 576px ) {
    .container {
        width: 100%;
        padding: 0px 10px;
    }
    .title {
        font-size: 36px;
    }
    .header {
        &__subtitle {
            font-size: 40px;
            line-height: 40px;
        }
        &__cards {
            width: 95%;
            flex-direction: column;
            align-items: center;
            bottom: -400px;
            gap: 15px;
        }
        &__card {
            width: 90%;
            height: 200px;
        }
        &__numbers {
            p {
                font-size: 14px;
            }
        }
        &__time-line {
            width: 55%;
        }
    }
    .main {
        padding-top: 480px;
    }
    .about {
        &__right {
            width: 95%;
            height: 350px;
        }
        &__card {
            width: 100%;
        }
    }
    .info {
        flex-direction: column-reverse;
        gap: 20px;
        &__right {
            width: 60%;
        }
        &__left {
            width: 100%;
        }
    }
    .tracks {
        flex-direction: column;
        align-items: center;
        &__image {
            width: 60%;
            padding-top: 0;
        }
        &__time-line {
            width: 60%;
        }
        &__card {
            p {
                display: none;
            }
        }
    }
    .footer {
        padding: 0px 10px;
        &__block {
            width: 100%;
        }
        &__card {
            background-color: rgba(122,102,204,0);
            width: 44px;
            height: 44px;
        }
        &__text {
            gap: 5px;    
        }
        &__info {
            
            p {
                font-size: 12px;
                text-align: left;
            }
        }
        &__name {
            p {
                font-size: 12px;
                text-align: left;
            }
        }
    }
    .slick-prev:before {
        display: none;
    }
    
    .slick-next:before {
        display: none;
    }
    .overflou {
        .menu {
            width: 80%;
        }
    }
}

@media ( max-width: 360px ) {
    .footer {
        &__info {
            padding-top: 27px;
        }
    }
}