doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bright Light
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="slick/slick.css", type="text/css")
        link(rel="stylesheet", href="slick/slick-theme.css", type="text/css")
        link(rel="stylesheet", href="css/style.min.css")
    body 
        .overflou
            .menu 
                .menu__close-icon 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                .menu__links 
                    a(href="#") About 
                    a(href="#") News 
                    a(href="#") Music 
                    a(href="#") Media 
                    a(href="#") Tours 
                    a(href="#") Contacts

        header.header 
            .container 
                nav.nav
                    .nav__logo 
                        a(href="http://index.html")
                            img(src="images/logoimg.png", alt="logo image")  
                            img(src="images/logotext.png", alt="logo text")  
                    .nav__links 
                        a(href="#") About 
                        a(href="#") News 
                        a(href="#") Music 
                        a(href="#") Media 
                        a(href="#") Tours 
                        a(href="#") Contacts
                    .nav__menu 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                .header__main 
                    h1.title New Single 
                    .header__subtitle War For Love 
                    .header__player 
                        button.header__button-play 
                            img.header__button(src="icons/buttonplay.png", alt="button play")
                        .header__time-line
                            .header__time-actually
                        .header__numbers 
                            p 00:22-02:54
                .header__cards 
                    .header__card.header__card_1
                        .header__text 
                            p Working on my upcoming full-lenth album that`s releasing later this year.
                    .header__card.header__card_2 
                        .header__text
                            p Halloween vibes.<br> Listen my new track!
                    .header__card.header__card_3
                        .header__text 
                            p WarForLove is OUT NOW!!<br> Stream it here!
        main.main 
            .container 
                section.about
                    .about__left 
                        .about__title 
                            img(src="images/volume.png", alt="volume")
                            .title Bright Lights
                        .about__text Bright Lights is a multi-Grammy nominated singer, songwriter, DJ and record producer. She has written for numerous<br><br>pop stars including Britney Spears, Justin Bieber, Usher and Beyoncé. Her catalog has amassed over 1 billion streams worldwide. More than 100 million of those streams can be attributed to her artist career and include such hits as Porter Robinson's "Language," 3LAU's "How You Love Me" and her own single "Runaway." She was also a featured vocalist on Zedd's #1 Clarity album. Her latest music video, "Put It Down," reached 1 million streams in the first week, releasing independently. Bright Lights is currently in the studio working on a self-produced album slated for release in 2020. 
                        .about__cards 
                            .about__card 
                                .about__square 
                                p.about__descr Based in: Los Angeles
                            .about__card 
                                .about__square 
                                p.about__descr Founded in 2011
                            .about__card 
                                .about__square 
                                p.about__descr Genre: #DancePop 
                            .about__card 
                                .about__square 
                                p.about__descr Label: 333 Recordings
                    .about__right 
                        .about__image.about__image_1 
                        .about__image.about__image_2 

                section.info 
                    .info__left 
                        .info__text “In an age where mainstream music is designed to be as easily consumed as possible, listening to Bright Lights is refreshing, to say the least. Her sound is perfect for radio but complex enough to separate her from other pop newcomers.”
                        .info__hr
                        a.info__link(href="populove.net") PopULove.net
                    .info__right 
                        img(src="images/mtv.png", alt="MTV Photo")

                section.tracks 
                    .tracks__image 
                        img(src="images/dj.png", alt="DJ")
                    .tracks__block 
                        .tracks__title 
                            img(src="images/volume.png", alt="volume")
                            .title Last tracks
                        .tracks__player 
                            button.tracks__button-play 
                                img.tracks__button(src="icons/buttonplay.png", alt="button play")
                            .tracks__time-line
                                .tracks__time-actually
                            .tracks__numbers 
                                p 00:47-03:30
                        .tracks__list 
                            .tracks__track 
                                p.tracks__number 01
                                p.tracks__name-track.tracks__name-track_active 3LAU, Bright Lights — How You Love Me
                            .tracks__track 
                                p.tracks__number 02
                                p.tracks__name-track Bright Lights, Kaleena Zanders, Kandy — War For Love
                            .tracks__track 
                                p.tracks__number 03
                                p.tracks__name-track Pink Is Punk, Benny Benassi, Bright Lights — Ghost
                            .tracks__track 
                                p.tracks__number 04
                                p.tracks__name-track Hardwell, Dyro, Bright Lights — Never Say Goodbye
                            .tracks__track 
                                p.tracks__number 05
                                p.tracks__name-track Zeds Dead, Dirtyphonics, Bright Lights — Where Are You Now
                            .tracks__track 
                                p.tracks__number 06
                                p.tracks__name-track Zedd, Bright Lights — Follow You Down
                        .tracks__contacts 
                            p.tracks__text Follow me:
                            a(href="#").tracks__card 
                                img(src="icons/spotify.png", alt="Spotify")
                                p Spotify
                            a(href="#").tracks__card 
                                img(src="icons/apple.png", alt="Spotify")
                                p iTunes 

                section.gallery 
                    img.gallery__image.gallery__image_1(src="images/gallery1.png", alt="poster")
                    img.gallery__image.gallery__image_2(src="images/gallery2.png", alt="poster")
                    img.gallery__image.gallery__image_3(src="images/gallery3.png", alt="poster")
                    img.gallery__image.gallery__image_4(src="images/gallery4.png", alt="poster")
                    img.gallery__image.gallery__image_5(src="images/gallery5.png", alt="poster")

                section.slider 
                    .slider__slide 
                        img(src="images/slide1.png", alt="slide")
                        p.slider__title Chandler, AZ
                        p.slider__subtitle The Park at Wild Horse Pass
                        .slider__footer 
                            p.slider__text Apr 02 2021
                            button.slider__button Tickets 
                    .slider__slide 
                        img(src="images/slide2.png", alt="slide")
                        p.slider__title Ibiza, IBZ
                        p.slider__subtitle Swag Ibiza Club
                        .slider__footer 
                            p.slider__text Jul 08 2021
                            button.slider__button Tickets 
                    .slider__slide 
                        img(src="images/slide3.png", alt="slide")
                        p.slider__title Ibiza, IBZ
                        p.slider__subtitle El Swing Ibiza
                        .slider__footer 
                            p.slider__text Jul 10 2021
                            button.slider__button Tickets 
                    .slider__slide 
                        img(src="images/slide1.png", alt="slide")
                        p.slider__title Chandler, AZ
                        p.slider__subtitle The Park at Wild Horse Pass
                        .slider__footer 
                            p.slider__text Apr 02 2021
                            button.slider__button Tickets 
                    .slider__slide 
                        img(src="images/slide2.png", alt="slide")
                        p.slider__title Ibiza, IBZ
                        p.slider__subtitle Swag Ibiza Club
                        .slider__footer 
                            p.slider__text Jul 08 2021
                            button.slider__button Tickets 
                    .slider__slide 
                        img(src="images/slide3.png", alt="slide")
                        p.slider__title Ibiza, IBZ
                        p.slider__subtitle El Swing Ibiza
                        .slider__footer 
                            p.slider__text Jul 10 2021
                            button.slider__button Tickets 


        footer.footer 
            .footer__logo 
                a(href="#")
                    img(src="images/logoimg.png", alt="logo image")  
                    img(src="images/logotext.png", alt="logo text") 
            .footer__text 
                .footer__name 
                    p Artist Management:
                    p EMAIL:
                .footer__info 
                    p JAKE HENNY 
                    p JAKE@BRIGHTLIGHTSOFFICIAL.COM
            .footer__block 
                a(href="#").footer__card 
                    .footer__wrapper 
                        img(src="icons/apple1.png", alt="apple")
                a(href="#").footer__card 
                    .footer__wrapper 
                        img(src="icons/spotify1.png", alt="spotify")
                a(href="#").footer__card 
                    .footer__wrapper 
                        img(src="icons/instagram.png", alt="instagram")
                a(href="#").footer__card 
                    .footer__wrapper 
                        img(src="icons/youtube.png", alt="youtube")
                a(href="#").footer__card 
                    .footer__wrapper 
                        img(src="icons/twitter.png", alt="twitter")
                a(href="#").footer__card 
                    .footer__wrapper 
                        img(src="icons/facebook.png", alt="facebook")
            .footer__copy ©  2020 DJ bright lights.

    script(src="js/jquery.js")
    script(src="slick/slick.min.js") 
    script(src="js/script.js")

